.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  position: relative;
  height: 100vh;
  background-color: #e0e0e0;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: black;
  padding-bottom: 60px;
}

.start-button {
  border: none;
  border-radius: 10px;
  font-size: 25px;
  padding: 15px 20px;
  width: 80%;
  max-width: 300px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}