.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  position: relative;
  height: 96vh;
  background-color: #9b8269;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 25px;
  color: #fff1e6;
  padding-bottom: 20px;
}

.start-button {
  border: none;
  border-radius: 10px;
  font-size: 25px;
  padding: 15px 20px;
  width: 80%;
  max-width: 300px;
  background-color: #fff1e6;
  color: #9b8269;
  cursor: pointer;
}