.header {
    background-color: #997b66;
    padding: 20px 0;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content-left {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    align-items: center;
}

.header-content-right {
    padding: 25px;
}

.back-button {
    background: none;
    border: none;
    color: #fffaf5;
    padding: 0;
}

.header-title {
    color: #fffaf5;
    flex: 1;
    text-align: center;
    font-weight: normal;
    font-size: 40px;
}