@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* base styles */
:root {
    transform: rotate(0deg);
    width: 500px; /* 固定直向寬度 */
    margin: auto;
    padding: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0;
}